# SwiftPM
.build/
.swiftpm/
Package.resolved

# xcodebuild output (created by `xcodebuild ... -derivedDataPath build`)
build/

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
*.xcuserstate

# macOS
.DS_Store

# CocoaPods (if used in demo app later)
Pods/
*.xcworkspace
